.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-projects {
  padding: 20px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project {
  width: 300px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden; /* Добавлено для обрезания текста, выходящего за границы */
}

.project h3 {
  margin-bottom: 10px;
  color: #007bff;
  overflow: hidden; 
  text-overflow: ellipsis; 
  word-wrap: break-word; /* Добавлено для переноса текста вниз, если он слишком длинный */
}
